<%- include('partials/header') %>

    <div class="container">
        <div class="row">
            <div style="text-align: center; color: black;">
                <h1>Create a new Campground.</h3>
            </div>
            <div style="width: 30%; margin: 0 auto;">
                    <form action="/campgrounds" method="POST">
                        <input class="form-control" type="text" placeholder="name" name="name">
                        <br>
                        <input class="form-control" type="text" placeholder="image url" name="image">
                        <br>
                        <input class="form-control" type="text" placeholder="Description" name="description">
                        <br>
                            <div class="form-group" style="text-align: center;">
                                <button class="btn btn-lg btn-primary" style="text-align: center;">Submit!</button>
                            </div>
                    </form>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>