<%- include('partials/header') %>

<h1>Welcome to the Yelp Camp!!!!!</h1>
<p>View our hand picked campgrounds from all over the country!</p>

<a href="/campgrounds">See all Campgrounds!!</a>

<%- include('partials/footer') %>